<app-menu-bar></app-menu-bar>
<div class="home-container">
    <app-card
    [gameCover]="'../../../assets/bt-1.jpg'"
    [gameLabel]="'DIGITAL'"
    [gameType]="'DIGITAL | PS4'"
    [gamePrice]="'332.99'">
    </app-card>
    
    <app-card
    [gameCover]="'../../../assets/bt-4.jpg'"
    [gameLabel]="'DIGITAL'"
    [gameType]="'DIGITAL | PS4'"
    [gamePrice]="'250.99'">
    </app-card>
    
    <app-card
    [gameCover]="'../../../assets/bt-5.jpg'"
    [gameLabel]="'EXCLUSIVO'"
    [gameType]="'DIGITAL'"
    [gamePrice]="'399.50'"
    >

    </app-card>
    <app-card [gameCover]="'../../../assets/bt-bad-company-2.jpg'"
    [gameLabel]="'DIGITAL'"
    [gameType]="'PS5 | PS4 | DIGITAL'"
    [gamePrice]="'332.99'">>

    </app-card>
    <app-card [gameCover]="'../../../assets/bt-hardline.jpg'"
    [gameLabel]="'DIGITAL'"
    [gameType]="'DIGITAL | PS4'"
    [gamePrice]="'299.50'">>
        
    </app-card>
    <app-card 
    [gameCover]="'../../../assets/ac-cover.jpg'"
    [gameLabel]="'EXCLUSIVO'"
    [gameType]="'DIGITAL | PS4'"
    [gamePrice]="'255.99'">>
        
    </app-card>
</div>
